$count: 0;
$col-width: calc(100% / 12);
@while $count < 13 {
  .col-#{$count} {
    flex: ($count * $col-width);
    width: ($count * $col-width);
  }

  $count: $count + 1;
}

$classes: null, __inner, __inner__img;
@each $class in $classes {
  .card#{$class} {
    height: 100%;
    width: 100%;
  }
}
