.container {
  padding: 0 15px;
  margin: 0 auto;
}

html {
  font-family: $default_ff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .top {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1260px;
  }
}
