@use "./../../utils/_variable.scss" as *;
@use "./../../utils/mixin" as *;

#products {
  .row {
    row-gap: 2rem;
    .row {
      align-items: stretch;
      .img {
        img {
          object-fit: contain;
        }
      }
      .info {
        padding: 10px;
        height: 100%;
        ul {
          flex-wrap: wrap;
          color: map-get($map: $colors, $key: gray);
          font-size: map-get($map: $font-sizes, $key: fs-300);
          justify-content: space-between;
          height: 100%;
          li {
            transition: $transition_links;
            font-weight: 300;
            &:first-child {
              color: map-get($map: $colors, $key: black-dark);
              font-weight: 700;
            }
            &:hover {
              color: map-get($map: $colors, $key: red);
            }
            flex: 100%;
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199.999px) {
    .col-3 {
      width: 50%;
      flex: 50%;
    }
  }
  @media (max-width: 767.999px) {
    .col-3 {
      .row {
        .img {
          height: 200px;
        }
        .col-8 {
          width: 100%;
          flex: 100%;

          ul {
            gap: 1rem;
            font-size: map-get($map: $font-sizes, $key: fs-500);
            li {
              text-align: center;
            }
          }
        }
        justify-content: center;
      }
      width: 100%;
      flex: 100%;
    }
  }
}
